<div class="page-header">
  <h1>New site</h1>
</div>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to 'Sites', sites_path %></li>
  <li class="active">New site</li>
</ol>

<%= render 'form' %>
