<div class="page-header">
    <h1>New domain</h1>
</div>

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><%= link_to 'Domain', domains_path %></li>
    <li class="active">New domain</li>
</ol>

<%= render 'form' %>
