<!DOCTYPE html>
<html>
<head>
<title> SimpleModal OSX Style Dialog </title>
<meta name='author' content='Eric Martin' />
<meta name='copyright' content='2013 - Eric Martin' />

<!-- Page styles -->
<link type='text/css' href='css/demo.css' rel='stylesheet' media='screen' />

<!-- OSX Style CSS files -->
<link type='text/css' href='css/osx.css' rel='stylesheet' media='screen' />

<!-- JS files are loaded at the bottom of the page -->

</head>
<body>
<div id='container'>
<div id='logo'>
<h1>Simple<span>Submitter</span></h1>
<span class='title'>Free Website Submitter</span></div>
<div id='content'>
<div id='osx-modal'>
<h3>Free Traffic Visitor</h3>
<div id='vueApp'>
<div class='container'>
<div class='row'>
<div class='col-md-6'>
<div class='card'>
<div class='card-body'>
<form v-on:submit.prevent='goJinx'>
<div class='form-group'>
<label class='label-control' for='inputUrl'>Accept URL http(s)://</label>
<input class='form-control' id='inputUrl' name='url' required='true' type='text' v-model='target.url'/>
</div>
<div class='row'>
<div class='col-md-6'>
<div class='form-group'>
<label class='label-control' for='inputTraffic'>Traffic / sec. (default)</label> 
<input class='form-control' id='inputTraffic' name='traffic' required='true' type='number' v-model='target.traffic' />
</div>
</div>
<div class='col-md-6'>
<div class='form-group'>
<label class='label-control' for='inputMsg'>Leave feedback msg :</label> 
<input class='form-control' id='inputMsg' name='message' required='true' type='text' v-model='target.msg'/>
</div>
</div>
</div>
<button class='btn btn-raised btn-primary' id='btn-send' type='submit' v-if='status.isState == false' >Send Traffic</i></button>
<a class='btn btn-danger' href='javascript:void(0)' id='btn-stop' v-else='' v-on:click='jinxStop' >Stop</i></a>
</form>
</div>
</div>
</div>
<div class='col-md-6'>
<div class='card'>
<div class='card-body'>
<h3>Result</h3>
<table class='table table-striped table-hover'>
<tr>
<td><b class='text-warning'>Requested</b></td>
<td>: <b>{{ status.requested }}</b></td>
</tr>
<tr>
<td><b class='text-success'>Success</b></td>
<td>: <b>{{ status.success }}</b></td>
</tr>
<tr>
<td><b class='text-danger'>Failed</b></td>
<td>: <b>{{ status.failed }}</b></td>
</tr>
</table>
</div>
</div>
</div>
<p>Inspired by <a href="">ModalBox</a>, an OSX style dialog built with <a href='http://www.prototypejs.org/ '>prototype</a>.</p>
<input type='button' id='btn-send' name='osx' class='osx demo' value="Ping Url"/> or <a href="https://github.com/alfazzafashion/SimpleSubmitter" alt="smallseo">Fork on Github</a>
</div>
<!-- modal content -->
<div id='osx-modal-content'>
<div id='osx-modal-title'>Website Submitter Dialog </div>
<div class='close'><a href='#' class='simplemodal-close'>Close</a></div>
<div id='osx-modal-data'>
<p>Enter Domain (without http:// or https://)</p>
<input type='text' name='domain' class='js-sitename' placeholder='mysite.com'/>
<button class='js-start'>Ping Now</button>
<p><button class='simplemodal-close'>Cancel</button><span>(or press ESC or click the overlay)</span></p>
</div>
</div>
</div>
<div id='footer'>
&copy; <script type="text/javascript">var creditsyear = new Date();document.write(creditsyear.getFullYear());</script> <a href='http://www.ericmmartin.com/'>Eric Martin</a> | <a href='https://github.com/ericmmartin/simplemodal'>SimpleModal on GitHub</a> | 
<a href='http://twitter.com/ericmmartin'>@ericmmartin</a> | <a href='http://twitter.com/simplemodal'>@simplemodal</a>
</div>
</div>
<!-- Load JavaScript files -->
<script type='application/ld+json'></script>
<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/jquery.simplemodal.js'></script>
<script type='text/javascript' src='js/osx.js'></script>
<script type='text/javascript' src='js/script.js'></script>
<script type='text/javascript' src='js//vue.js'></script>
<script>
//<![CDATA[
var jinxInt;

var vueJingling = new Vue({
  el: '#vueApp',
  data: {
    target: {
      'url': '',
      'traffic': 0,
      'msg': ''
    },
    status: {
      'isState': false,
      'requested': 0,
      'success': 0,
      'failed': 0
    },
    reqHash: []
  },
  methods: {
    onReq: function(rid) {
      this.status.requested++
    },
    onComplete: function(rid) {
      delete this.reqHash[rid];
    },
    onFail: function(rid) {
      this.status.success++
      delete this.reqHash[rid];
    },
    onSuccess: function(rid) {
      this.status.success++
      delete this.reqHash[rid];
    },
    goJinx: function() {
      var vm = this;

      this.status.isState = true;
      jinxInt = setInterval(this.httpReq, (10000 / parseInt(this.target.traffic) | 0));
    },
    jinxStop: function() {
      clearInterval(jinxInt);
      this.status.isState = false;
    },
    httpReq: function() {
      var vm = this;

      if (this.status.requested > this.status.success + this.status.failed + 10000) {
        return;
      }

      var rID = Number(new Date());
      var img = new Image();
      img.onerror =  function() {vm.onFail(rID)};
      img.onabort = function() {vm.onFail(rID)};
      img.onload = function() {vm.onSuccess(rID)};

      img.setAttribute("src", this.target.url + "?id=" + rID + ";msg=" + this.target.msg);
      this.reqHash[rID] = img;
      this.onReq(rID);
    }
  },
  mounted: function() {
    
  }
});
//]]>
</script>
</body>
</html>
